/*Global styles*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Public+Sans:wght@100;300;400&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom right, green, black);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #faea1c;
    margin: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    margin: 25px auto;
    box-shadow: 20px 15px 30px #000;
    border-radius: 15px;
}

/*Index-page*/
select {
    font-size: 1.2rem;
    padding: 1em 1.5em;
    background-color: #b3982d;
    color: #fff;
}

.movie {
    height: auto;
    width: 200px;
    margin: 20px auto;
}

.container {
    text-align: center;
}

.select-movie {
    margin: 50px;
    padding: 10px;
    font-size: 30px;
}

.movie-details {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #faea1c;
}
/*Details-page*/
.anime-details {
    color: #fff;
    text-align: center;
}

.movie-title {
    font-size: 30px;
    margin: 30px auto;
}

.movie-name {
    font-size: 25px;
}

.movie-score {
    margin-bottom: 30px;
    font-size: 20px;
}

.error {
    height: auto;
    width: 100%;
    align-items: center;
    max-width: 60%;
    margin: auto auto;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    color: red;
}

/*Inspierd by w3docs.com Loading spinner*/
@keyframes loading {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.load {
    animation: 1000ms linear infinite loading;
    animation-play-state: inherit;
    border: solid 5px black;
    border-bottom-color: red;
    border-radius: 50%;
    content: "";
    margin: 100px auto;
    height: 50px;
    width: 50px;
    text-align: center;
    top: 10%;
    left: 10%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
